<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG DETAILS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-2 text-center">
        <img src="{{ obj.cover_img.url }}" class="card-img-top" style="width: 700px; height: 400px;" alt="...">
        <h2 class="text-center">{{ obj.blog_name }}</h2>
        {{ obj.blog_description | striptags | safe }}

    </div>
    <br>
    <br>
    <div class="btn-group mx-5" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger" href="{% url 'addLikes' obj.id %}">Like</button>

    </div>
    <br>
    <br>
    <span class="container text-center">
        <h3>LIKES: {{obj.like_count}}</h3>
        <h3>Total Views: {{obj.views_count}}</h3>
    </span>
    <br>
    <h3 class="text-center">Comments</h3>
    <br>
    <br>
    <div id="comment_c" style="color: black">
    {% with comment_count=obj.comments.count %}
    <div class="comments-container text-center" style="margin: auto; width: 100%; max-width: 800px;">
        <h1 style="margin-bottom: 20px; margin-top: 60px; color: black; text-align: center;">COMMENTS({{ comment_count }})</h1>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'add_comment' blog_id=obj.id %}" style="margin-bottom: 20px; text-align: center;">
                {% csrf_token %}
                <div style="display: inline-block; background-color: rgba(248, 249, 250, 0.8); border-radius: 8px; padding: 10px; margin-bottom: 10px;">
                    {{ form.text }}
                </div>
                <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto;">Submit</button>
            </form>
        {% else %}
            <p style="margin-bottom: 20px; text-align: center; color: black;">Login to add comments</p>
        {% endif %}
    
        <hr style="width: 50%; margin: 20px auto; border-color: black;"> <!-- Horizontal line -->
    
        {% for comment in obj.comments.all %}
            <div style="margin-bottom: 20px; text-align: center; color: black; display: flex; align-items: center; justify-content: center;">
                <div style="flex-grow: 1;">
                    <p style="margin-bottom: 5px; font-weight: bold;">{{ comment.author.username }}</p>
                    <p style="margin-top: 5px; font-style: italic;">{{ comment.text }}</p>
                </div>
                <div style="display: flex; align-items: center;">
                    <p style="margin: 10px; color: black;"><h7>{{ comment.created_date|timesince }}</h7></p>
                    {% if comment.author == user %}
                        <div style="margin-right: 10px;">
                            <a href="{% url 'edit_comment' blog_id=obj.id comment_id=comment.id %}" style="font-weight:bold; color:#0f7eed; text-decoration: underline; font-style: normal;">EDIT</a>
                        </div>
                        <div>
                            <a href="{% url 'delete_comment' blog_id=obj.id comment_id=comment.id %}" style="font-weight:bold; color:#0f7eed; text-decoration: underline; font-style: normal;">DELETE</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
 {% endwith %}
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>